---
import BaseLayout from '../layouts/BaseLayout.astro';
import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';

const steps = [
    { title: "High School", percent: 20 },
    { title: "College", percent: 50 },
    { title: "Graduate School", percent: 80 },
  ];
---

<BaseLayout title="About | champ18ion " description="About champ18ion ">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/IMG_20220525_094358.jpg"
					alt="Jeanine White at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						"Hey there! I'm Kunal Kumar , a web developer with a lifelong passion for tech and gadgets. 
						Ever since I was a kid, I was fascinated by the endless possibilities of coding and web development. 
						I'm a self-taught developer who turned my passion into a full-blown career.
						With a solid foundation in basic HTML CSS and JS, I've honed my skills in Fronend development using tools like React, NextJs, Bootstrap, tailwind, firebase,.
						I've overcome coding challenges with sheer determination and an unwavering love for what I do.
						 My journey as a web developer has been a thrilling adventure, and I'm always eager to take on new projects and push the boundaries of what's possible online.
						Let's bring your web ideas to life with some cutting-edge code and a dash of creativity!"
					</p>
					<p>
						
					</p>
					<p>
						As a professional web developer, I possess expertise in both front-end and back-end technologies, including NodeJS, Express, and MongoDB. This allows me to create visually appealing and fully functional web applications that deliver exceptional user experiences. With my diverse skill set, I am well-equipped to tackle complex challenges and create high-quality web solutions that meet the needs of modern businesses and users alike.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<div class="education-entry">
						<h3>St. Xaviers's College </h3>
						<p class="education-date">2019-2022</p>
						<p class="education-degree">Bachelor of Science in Physics</p>
						<p class="education-description">graduated in physics with an aggreagate CGPA of 9.33</p>
					  </div>
					  <div class="education-entry">
						<h3>Saraswati Shishu Vidya Mandir Dhurwa</h3>
						<p class="education-date">2017-2019</p>
						<p class="education-degree">10+2 CBSE </p>
						<p class="education-description">Was city third topper with 96.8% </p>
					  </div>
 					<p>Corporis voluptates tenetur laudantium.</p>
				</div>
			</section>
			<section class="skills">
				<h2 class="section-title">Skills</h2>
				<ul>
				  <li>
					<h3>Web Development</h3>
					<div class="bar-container">
					  <div class="bar" style="width: 90%"></div>
					</div>
				  </li>
				  <li>
					<h3>Graphic Design</h3>
					<div class="bar-container">
					  <div class="bar" style="width: 75%"></div>
					</div>
				  </li>
				  <li>
					<h3>Project Management</h3>
					<div class="bar-container">
					  <div class="bar" style="width: 80%"></div>
					</div>
				  </li>
				</ul>
			  </section>
			<section>
				<h2 class="section-title">Resume</h2>
				<div class="content">
					<a href="/assets/my-res.pdf" target="_blank">View PDF</a>
				</div>
				
			</section>
			
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}
	.education {
    margin-top: 2rem;
  }

  .education-entry {
    margin-bottom: 1.5rem;
  }

  .education-entry h3 {
    margin-bottom: 0.5rem;
  }

  .education-date {
    margin-bottom: 0.5rem;
    font-style: italic;
  }

  .education-degree {
    margin-bottom: 0.5rem;
    font-weight: bold;
  }

  .education-description {
    margin-bottom: 1rem;
  }
  .skills {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
  }
  
  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin-bottom: 30px;
  }
  
  h3 {
    font-size: 1.25rem;
    margin-bottom: 10px;
  }
  
  .bar-container {
    width: 100%;
    background-color: #f1f1f1;
    border-radius: 50px;
    overflow: hidden;
  }
  
  .bar {
    height: 20px;
    background-color: #0077FF;
    border-radius: 50px;
    transition: width 0.5s ease-in-out;
  }


	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
